.html
{
    font-size: 14px;
    height: 100%;
    
}

.body
{   
    margin: 0;
    min-height: 100%;
    
}

.accueil-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bandeau-top
{
    width: 100%;
    height:50px;
    background: #990033;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tahoma, sans-serif;
}

.bandeau-top img
{
    height: 40px;
    width: 40px;
    margin-right: 7px;
    margin-left: 7px;
}

.bandeau-top span
{
    color:white;
    font-weight: bold;
    font-size: 25px;
}

.bandeau-bottom
{
    width: 100%;
    height:50px;
    background: #990033;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: tahoma, sans-serif;
}

.bandeau-bottom span
{
    color:white;
    font-size: 15px;
}

.bandeau-bottom img
{
    height: 40px;
    width: 40px;
    margin-right: 7px;
    margin-left: 7px;
}

.page-container
{
    font-family: tahoma, sans-serif;
    display: flex;
    justify-content: center;
    background: #cccccc;
    padding-bottom: 500px;
    height:100%;
}

.page-content
{
    margin-top: 20px;
    width: 850px;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px #525252
}

.connexion-box
{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 20px;
    background: black;
    color: white;
}

/*.inscription-box
{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}*/

.inscription-box
{
    margin-bottom: 15px;
    padding: 10px;
    /*border: 1px solid black;*/
    color: black;
    font-size: 30px;
}

.inscription-box-titre
{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #cccccc;
    border: 1px solid black;
    color: white;
    font-size: 30px;
}

.categorie-container
{
    margin-bottom: 40px;
    padding-bottom : 30px;
    border-bottom: 1px solid black;
}

.sujet-titre
{
    margin-bottom: 15px;
    padding: 10px;
    border-top: 1px solid black;
    color: #990033;
    font-size: 30px;
}

.categorie-nom
{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #cccccc;
    border: 1px solid black;
    color: white;
    font-size: 30px;
}

img
{
    height: 30px;
    width: 30px;
}

.discussion-container
{
    margin-bottom: 40px;
    padding-bottom : 40px;
    /*border-bottom: 1px solid black;*/
}

.discussion-titre
{
    font-weight: bold;
    font-size: 18px;
    color: #990033;
    margin-bottom: 5px;
}

.discussion-date
{
    margin-bottom: 3px;
}

.discussion-texte
{
    margin-bottom: 3px;
}

.discussion-user
{
    margin-bottom: 10px;
}

.message-container
{
    /*font-weight: normal;*/
    color: blue;
    font-size: 15px;
    border: 0.5px solid black;
    margin-bottom: 5px;
    padding: 10px;
}

.message-texte
{
    background-color: #cccccc;
    padding: 10px;
}

.message-date
{
    padding: 5px;
}

.message-user
{
    padding: 5px;
}

.new-discussion-container
{
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 10px;*/
    background-color: black;
    border-bottom: 1px solid black;
    border-top:1px solid black;
    color: white;
    display: flex;
    flex-direction: column;
}

.new-discussion-liste
{
    margin: 5px;
}

.new-discussion-titre
{
    margin: 5px;
}
.new-discussion-contenu
{
    margin: 5px;
    width: 680px;
    height: 80px;
}

.new-discussion-entete
{
    margin: 5px;
}

.new-discussion-button
{
    margin: 5px;
}